<Files .htaccess>
 order allow,deny
 deny from all
</Files>

<Files dbconfig.php>
 order allow,deny
 deny from all
</Files>

<Files index.php>
 order allow,deny
 deny from all
</Files>

<Files functions.php>
 order allow,deny
 deny from all
</Files>

# disable directory browsing
Options All -Indexes

#Server Enviroment
SetEnv SERVER_ADMIN admin@razican.com

# Default language
DefaultLanguage es-ES

# Default character set
AddDefaultCharset UTF-8

#Default 404 page
ErrorDocument 404 http://jdix.razican.com/404.php

<IfModule mod_rewrite.c>
	RewriteEngine on

#	RewriteCond %{HTTPS} !=on [OR]
#	RewriteCond %{REQUEST_METHOD} !^POST$ [OR]
#	RewriteCond %{HTTP_USER_AGENT} !^Animature*$ [OR]
#	RewriteCond %{REQUEST_URI} !^*api.php$
#	RewriteRule ^(.*)$ http://jdix.razican.com/404.php [L,QSA,R=301]
</ifModule>